html, body{height: 100%; padding: 0; margin: 0;  overflow: hidden;}
body {color: black; background: #fff; font-family: "Lucida Grande", sans-serif; font-size: 10pt; }

#body {
    position: absolute; left: 0; bottom: 50px;
    padding: 8px 8px 30px;
    width: 100%;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;
}

header{
    position: absolute; top: 0; left: 0; right:0; height: 38px; padding-top: 12px;
    background: #E7EDED; z-index: 1;
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;
}

.menu{
    width:17px; height: 2px; margin-left: 10px;
    border-top:5px solid #E1E3E4; border-bottom:5px solid #E1E3E4; 
    cursor:pointer; float: left; position: relative;
    background: #020718; 
}
.menu:after, .menu:before{width:17px; height: 2px; background: #020718; position: absolute; top: -5px; content: ''; left: 0;}
.menu:after{top: auto; bottom: -5px;}

.userInfo{
    box-shadow: 0 0 4px #020718; 
    color: #fff; bottom: 10px; border-radius: 0 0 0 6px;
    position: fixed; z-index: 100; top: 0; left: -100%; bottom: 0;
    background: #3B525E;
}
.userInfo .head{
    padding: 20px 10px 10px; 
}
.userInfo .head img{border-radius: 50%; height: 40px; width: 40px; display: block; margin-bottom: 10px;}
.userInfo .info{padding: 5px 0; font-size: 10px}
.userInfo .info a{color: #551; position:relative; text-decoration: none; border-top: 1px solid #999; display: block; padding: 8px 10px;}
.userInfo .info a:hover{color: #333;}
.userInfo .info a:first-child{border:none;}

.pic {margin-bottom: 12px; font-size: 0; float: left; margin-right: 8px;}
.pic img{ border-radius: 3px;  height: 30px; width: 30px;}
.txt{
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; 
    position: relative;min-height:15px;margin-bottom: 12px; 
    border-radius: 3px; padding: 8px; font-size: 12px; max-width: 90%;
    float:left; word-wrap:break-word;
}
.myphoto ~ .txt{ background: rgba(245,246,246,.5); }
.photo ~ .txt{ background: rgba(151,162,158,.1);}

.message:after{content: ''; clear: both; display: block;}
.txt span{float: right; line-height: 18px; width: 40px; font-size: 10px; color: #4D5C33; text-align: right;}
.name{font-size: 11px; color: #4D5C33;  padding-bottom: 4px;}



#input {
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;
    padding: 8px; position: fixed; bottom: 0; left: 0; width: 100%; }

#input input[type="text"] {
    box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;
    width:100%; vertical-align: top; padding:10px; border: none; outline:none;
    border:1px solid #4D5C33; border-radius: 3px;
}
.smile{position: absolute; top: 13px; right: 15px; cursor: pointer;}
.smile:after{background: url(smile1.svg) 50% 50% no-repeat; width: 25px; height: 25px; display: inline-block; content: ''; background-size: 220% }