<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tornado Facebook Stream Demo</title>
    <style>
    .body{width: 100%; padding-top: 20px; text-align: center; margin: 0 auto; }
    .body a {vertical-align: middle; display: inline-block; font-size: 10px; text-transform: uppercase; padding: 9px 30px; border-radius: 6px; background: #F2E6DE; border:2px solid #fff; text-decoration: none;}
    .body a:hover{opacity: .8}
    </style>
  </head>
  <body>
    <div class="body">
      {{ modules.Post() }}
    </div>
  </body>
</html>
